<% if @peep.original %>
  <% peep = @peep.original %>

  <% if peep.original %>
    <section class="peep more-originals">
      <div class="message"><a href="/peeps/<%= peep.original.id %>">In reply to <%= peep.original.maker.name %></a></div>
    </section>
  <% end %>
  <%= partial :"peeps/small_peep", locals: { peep: peep, peep_class: "original" } %>
<% end %>

<section class="peep full<%= ' with-reply' if current_user %>">
  <header>
    <span class="name"><%= @peep.maker.name %></span>
    <span class="username">@<%= @peep.maker.username %></span>
  </header>
  <div class="message"><%= @peep.message %></div>
  <footer>
    <span class="date"><%= @peep.long_time %></span>
  </footer>
</section>

<% if current_user %>
  <section class="reply-form">
    <form method="post" action="/peeps" id="peep-reply">
      <input type="text" name="message" spellcheck="true" placeholder="Start a conversation" maxlength="140" required />
      <input type="hidden" name="original_id" value="<%= @peep.id %>" />
      <input type="submit" name="Peep" value="Reply" class="form-button peep-button" />
    </form>
  </section>
<% end %>

<% @peep.replies.each do |peep| %>
  <%= partial :"peeps/small_peep", locals: { peep: peep, peep_class: "reply" } %>
  <% unless peep.replies.empty? %>
    <section class="more-replies">
      <div class="message"><a href="/peeps/<%= peep.id %>"><%= peep.replies.length %> more replies to <%= peep.maker.name %></a></div>
    </section>
  <% end %>

<% end %>
